@font-face {
  font-family: helvetic;
  src: url(../public/fonts/HelveticaNeue.ttc);
}

@font-face {
  font-family: ninomtav;
  src: url(../public/fonts/ninomtav.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetic;
}
/* body {
  width: 100%;
  height: 100vh;
} */
/* #root {
  width: 100%;
  height: 100vh;
} */
.App {
  width: 100%;
  height: 100vh;
}
.main {
  width: 100%;
  height: 100%;
}
.main-logo-image {
  margin-left: 5%;
  padding: 30px 0;
}

.hr-line {
  width: 90%;
  margin: 0 auto;
}

.main-button {
  position: absolute;
  padding: 13px 200px;
  border-radius: 7.5px;
  color: white;
  font-size: 24px;
  background-color: #1a1a1a;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo-absolute {
  position: absolute;
  transform: translate(52%, 32%);
  left: 52%;
  top: 32%;
}
/* ############################################################################################ */
/* ############################################################################################ */
/* ############################################################################################ */
/* ############################################################################################ */
/* ############################################################################################ */

.main-information {
  width: 100%;
  height: 100vh;
  display: flex;
}
.information-main-coteiner {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 244, 244);
  /* border: 3px solid red; */
}
.information-main1-conteiner {
  width: 70%;
  position: relative;
  height: 100%;
}
.personal-info {
  display: flex;
  justify-content: space-between;
}
.personal-information {
  font-weight: bolder;
  font-size: 30px;
  margin-top: 30px;
  font-family: ninomtav;
}
.personal-information1 {
  margin-top: 40px;
  font-size: 20px;
}
.information-line {
  height: 3px;
  background-color: #333;
  margin-top: 10px;
  width: 70%;
}
.information-head-figure {
  position: absolute;
  left: 10px;
  /* border: 1px solid gold; */
  /* background-color: #696666; */
}
.information-head-back {
  position: relative;
  left: 70px;
  top: 20px;
  z-index: 1;
  cursor: pointer;
}
.information-head-back-background {
  position: relative;
  left: 45px;
  top: 32px;
  cursor: pointer;
}

/* ############################# */
.information-name-lastName {
  display: flex;
  justify-content: space-between;
  /* margin-top: 40px; */
  gap: 60px;
}
.information-name-input-direction {
  font-size: 12px;
  margin-top: 5px;
}
.headerStyles {
  width: 100%;
}
.information-head1 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.information-head {
  width: 70%;
}
.information-name {
  display: block;
}
.information-lastName {
  display: block;
}
.information-name {
  font-weight: bolder;
}
.information-lastName {
  font-weight: bolder;
}
.information-name-form {
  width: 45%;
}
.information-input-name,
.information-input-lastName {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  border-radius: 3px;
  outline: none;
  border: 2px solid rgb(214, 214, 214);
  padding-left: 10px;
}
/* ################################################### */
.information-personal-photo-upload-form {
  margin-top: 40px;
}
.information-upload-photo-input-file {
  display: none;
}
.information-upload-photo-button {
  background-color: #0e80bf;
  padding: 6px 25px;
  outline: none;
  border-radius: 3px;
  border: none;
  margin-left: 20px;
  color: white;
}
.information-upload-photo-buttonn {
  background-color: #62a1eb;
  padding: 12px 25px;
  outline: none;
  border-radius: 3px;
  border: none;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}
.information-upload-photo-label {
  font-weight: bold;
}
/* ########################################## */
.information-general-information-aboutYou {
  margin-top: 40px;
}
.information-general-information-label {
  font-weight: bolder;
  display: block;
}
.information-general-information-textarea {
  resize: none;
  margin-top: 8px;
  outline: none;
  padding: 5px 0 0 10px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: 3px;
  width: 100%;
}
/* ############################ */
.information-mail {
  margin-top: 20px;
}
.information-mail-label {
  display: block;
  font-weight: bolder;
}
.information-mail-input {
  width: 100%;
  height: 40px;
  border: 2px solid rgb(214, 214, 214);
  margin-top: 5px;
  padding-left: 10px;
}
.information-mail-input-information {
  font-size: 14px;
}
.information-number {
  margin-top: 30px;
}
.information-number-label {
  display: block;
  font-weight: bolder;
}
.information-number-input {
  width: 100%;
  height: 40px;
  border: 2px solid rgb(214, 214, 214);
  margin-top: 5px;
  padding-left: 10px;
}
.information-number-input-information {
  font-size: 14px;
}
/* .information-next {
  background-color: #6b40e3;
  padding: 12px 45px;
  outline: none;
  border-radius: 3px;
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
} */
.ukan {
  float: left;
}
.shemdegi {
  float: right;
  cursor: pointer;
}
/* .input-next-previous {
  position: absolute;
  bottom: 50px;
  width: 100%;
} */

/* ############################ */
/* ################################### */
.information-carieli {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.person-info-mailnumber {
  display: flex;
  flex-direction: column;
}
.person-info-mail {
  margin-top: 30px;
}
.person-info-mail-mail {
  margin-left: 20px;
}
.person-info-mail-number {
  margin-left: 20px;
}
.imgimg {
  width: 15px;
}
.person-info-number {
  margin-top: 5px;
}
.dashoreba {
  margin-top: 30px;
}
.linius {
  margin-top: 30px;
  border: 1px solid #c8c8c8;
}
.personal-info-about-me-yes {
  width: 70%;
  margin-top: 10px;
  line-height: 25px;
}
.personal-info-about-me {
  font-size: 20px;
  margin-top: 20px;
}
.person-info-nameLastname {
  color: #f93b1d;
  font-size: 30px;
  font-weight: bolder;
}
.personal-info-about-me {
  color: #f93b1d;
}
.personal-info-line {
  margin-top: 20px;
  border: 1px solid #c8c8c8;
}
.person-info-information-known {
  display: block;
  font-weight: bolder;
  margin-top: 15px;
}
.titlee {
  margin-top: 30px;
}
.person-info-information-known-date {
  display: block;
  color: #909090;
  margin-top: 5px;
}
.person-info-information-known-datee {
  display: block;
  margin-top: 15px;
  width: 95%;
  line-height: 25px;
}
.person-info-information {
  margin-top: 20px;
  color: #f93b1d;
}
.person-info-information-line2 {
  margin-top: 20px;
  border: 1px solid #c8c8c8;
}
.person-info-profile {
  right: -20px;
  top: -40px;
  position: absolute;
}
.person-main-info {
  position: relative;
}
.person-info-logo {
  bottom: 30px;
  left: 0px;
  position: absolute;
}
.experience-div-allmostMain {
  position: relative;
  width: 80%;
  margin-top: 80px;
  height: 850px;
  /* overflow: auto; */
}
.person-info {
  height: 640px;
}

/* ############## overflow styles ###### */
.for-overflow {
  overflow: auto;
  height: 500px;
}
::-webkit-scrollbar {
  width: 30px;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
